[submodule "dep/catalog-core"]
	path = dep/catalog-core
	url = https://github.com/ZGwtao/catalog-core.git
	branch = carrels-dev
[submodule "dep/unikraft"]
	path = dep/unikraft
	url = https://github.com/ZGwtao/unikraft.git
	branch = carrels-dev
[submodule "dep/sddf"]
	path = dep/sddf
	url = https://github.com/au-ts/sddf.git
	branch = main
