CONFIG_PLAT_CARRELS=y
CONFIG_ARCH_ARM_64=y
CONFIG_UKPLAT_CPU_MAXCOUNT=1
CONFIG_LIBUKBOOT_MAINTHREAD=y
CONFIG_LIBUKBOOT_MAINTHREAD_NOHALT=y

CONFIG_APPSQLITE=y

CONFIG_LIBMUSL=y
CONFIG_LIBSQLITE=y
CONFIG_LIBSQLITE_SERVER_MAIN_FUNCTION=y

CONFIG_LIBLWIP=y
CONFIG_LWIP_IPV4=y
CONFIG_LWIP_DHCP=y
CONFIG_LWIP_SOCKET=y
CONFIG_LWIP_THREADS=y
CONFIG_LWIP_UKNETDEV=y
CONFIG_LWIP_AUTOIFACE=y

CONFIG_LIBUKNETDEV=y

CONFIG_LIBVFSCORE=y
CONFIG_LIBVFSCORE_AUTOMOUNT_CI=y
CONFIG_LIBVFSCORE_AUTOMOUNT_CI_EINITRD=y
CONFIG_LIBVFSCORE_AUTOMOUNT_EINITRD_PATH="/home/hope/wsp/uk-on-mk/dep/catalog-core/sqlite/initrd.cpio"
CONFIG_LIBRAMFS=y
CONFIG_LIBUKCPIO=y
CONFIG_LIBDEVFS=y
CONFIG_LIBDEVFS_AUTOMOUNT=y
CONFIG_LIBDEVFS_DEVSTDOUT=y
CONFIG_LIBVFSCORE=y

CONFIG_LIBUKNETDEV_EINFO_LIBPARAM=y
