CONFIG_PLAT_CARRELS=y
CONFIG_ARCH_ARM_64=y
CONFIG_UKPLAT_CPU_MAXCOUNT=1
CONFIG_LIBUKBOOT_MAINTHREAD=y
CONFIG_LIBUKBOOT_MAINTHREAD_NOHALT=y

CONFIG_LIBUKRANDOM=y
# CONFIG_LIBUKRANDOM_CMDLINE_SEED is not set
# CONFIG_LIBUKRANDOM_DTB_SEED is not set
# CONFIG_LIBUKRANDOM_RESEED is not set

CONFIG_LIBUKNETDEV=y
CONFIG_LIBUKNETDEV_EINFO_LIBPARAM=y

CONFIG_LIBLWIP=y
CONFIG_LWIP_IPV4=y
CONFIG_LWIP_DHCP=y
CONFIG_LWIP_SOCKET=y
CONFIG_LWIP_THREADS=y
CONFIG_LWIP_UKNETDEV=y
CONFIG_LWIP_AUTOIFACE=y

CONFIG_LIBVFSCORE=y
CONFIG_APPCHTTP=y
