CONFIG_PLAT_CARRELS=y
CONFIG_ARCH_ARM_64=y
CONFIG_UKPLAT_CPU_MAXCOUNT=1
CONFIG_LIBUKBOOT_MAINTHREAD=y
CONFIG_LIBUKBOOT_MAINTHREAD_NOHALT=y

CONFIG_APPMEMCACHED=y
CONFIG_APPMEMCACHED_THREADS=1

CONFIG_LIBMUSL=y
CONFIG_LIBLWIP=y
CONFIG_LWIP_IPV4=y
CONFIG_LWIP_DHCP=y
CONFIG_LWIP_SOCKET=y
CONFIG_LWIP_THREADS=y
CONFIG_LWIP_UKNETDEV=y
CONFIG_LWIP_AUTOIFACE=y

CONFIG_LIBUKNETDEV=y
CONFIG_LIBUKNETDEV_EINFO_LIBPARAM=y
CONFIG_LIBUKSCHEDCOOP=y
CONFIG_LIBPTHREAD_EMBEDDED=y
CONFIG_LIBPOSIX_PROCESS=y
CONFIG_LIBPOSIX_USER=y
CONFIG_LIBPOSIX_SOCKET=y
CONFIG_LIBPOSIX_EVENT=y
CONFIG_LIBUKTIME=y
CONFIG_LIBUKSIGNAL=y
